<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="validateuser" method="post">
        User name: <input type="text" name="email" id="email"><br>
        password: <input type="password" name="password" id="password"><br>
        <button type="submit" name="login" id="login" value="login">Login</button>
    </form>
</body>
</html>